 body {
    font-family: Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); 
}
.self{
    margin-right: 1rem;
}
.msg {
    color: black;
    margin-left: 3rem;
    align-self: center;
    padding: 0.2rem 1rem;
    background-color: rgba(9, 170, 211, 0.836);
    border-radius: 47px 47px 47px 47px;
    -moz-border-radius: 47px 47px 47px 47px;
    -webkit-border-radius: 47px 47px 47px 47px;
}
#msgList {
    background: rgba(44, 45, 45, 0.76);
    color: #FFFFFF;  
    overflow: auto;
    height: 65vh;
    font-size: larger;
    -webkit-border-radius: 20px 10px 10px 0px;
    -moz-border-radius: 20px 10px 10px 0px;
    border-radius: 20px 10px 10px 0px;
    border: 2px solid black;
    font-size: 1.2rem;
}
#h3 {
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    color:black;
    
}
#userList {
    background-color: rgba(23, 17, 17, 0.23);
    height: 65vh;
    text-align: center;
    font-weight: bold;
    color: rgb(41, 41, 41);
    font-size: larger;
    -webkit-border-radius: 20px 10px 10px 0px;
    -moz-border-radius: 20px 10px 10px 0px;
    border-radius: 20px 10px 10px 0px;
    border: 1px solid black;  
}

.name {
    font-size: 1.4rem;
    color: rgba(34, 210, 24, 0.83);
    font-weight: bold;
    margin-left: 1rem;
}

.namePrivate {
    color: rgba(255, 0, 0, 0.83);
    font-weight: bold;
    margin-left: 1rem;
}
